.container{
    height: 340px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border:1px black solid;
    overflow: hidden;
    padding: 10px;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}

.scroll{
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  border:1px solid orange;
  transition: all 0.3 ease;
  
  p{
    text-align: center;
    font-size:22px;
    color:#9ef64d;
  }
}
